
.nav-item{
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-left: 30px;
    border-radius: 5px;
    font-size: 18px;
}

.nav-item:hover{
    background-color: aqua;
    
}

.nav-item li a{
    text-decoration: line-through;
}

.navbar-brand{
    font-size: 25px;
}

.navbar-brand:hover{
    text-decoration: underline blue;

}

