*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-bottom: 40%;
}

.container{
    margin-top: 4%;
}

h3{
    margin-top: 7%;
    text-align: center;
    color: white;
}

